{% extends 'base.html.twig' %}

{% block title %}<title>Mon panier - Video Retro</title>{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}

    {# Fil d'Ariane #}
    {% if cartDetails is not empty %}
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item ms-3"><a class="aBreadCrumb" href="{{path('home')}}">Accueil</a></li>
                <li class="breadcrumb-item"><a class="aBreadCrumb" href="{{ path('app_search', {'search[keyword]':'oppenheimer'}) }}">Résultats de la recherche</a></li>
                <li class="breadcrumb-item"><a class="aBreadCrumb" href="{{ app.session.get('previous_url') }}">Dernier film ajouté</a></li>
                <li class="breadcrumb-item active" aria-current="page">Mon panier</li>
            </ol>
        </nav>
    {% endif %}

    <main class="container">{% block main %}

        <h1 class="text-center fs-1 fst-italic">Mon panier</h1>
            {% if app.user %}
            
                {% if cartDetails is empty %}
                    <h2 class="text-center mb-5 pb-5">Votre panier est vide</h2>
                {% else %}
                {% for message in app.flashes("error")%}
                    <div class="text-center alert alert-danger" role="alert">
                        <p class="p-bold text-center">{{message}}</p>
                    </div>
                {% endfor %}      
                
                <div class="table-responsive pb-5">
                    <table class="table table-light table-bordered">
                        <thead class="table-secondary">
                            <tr class="table-secondary">
                                <th class="myPrimary text-center imgCart">Affiche</th>
                                <th class="myPrimary text-center">Titre</th>
                                <th class="myPrimary text-center">Format</th>
                                <th class="myPrimary text-center pe-3">Prix (€)</th>
                                <th class="myPrimary text-center">Quantité</th>
                                <th class="myPrimary text-center">Total</th>
                                <th class="myPrimary text-center">Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for details in cartDetails %}
                                <tr>
                                    <td class="text-center imgCart">
                                        {% if details.imageUrl is not empty %}
                                            <img src="{{ details.imageUrl }}" class="img-fluid rounded" alt="Affiche du film : {{details.titre}}">
                                        {% else %}
                                            <img src="{{asset('images/no_image_available/no_image_available_w92_h138')}}" class="img-fluid rounded" alt="Pas d'image disponible">
                                        {% endif %}
                                    </td>
                                    <td class="align-middle text-center">{{ details.titre }}</td>
                                    <td class="align-middle text-center">{{ details.format }}</td>
                                    <td class="align-middle text-center">{{ details.prix }} €</td>
                                    <td class="align-middle text-center">
                                        <form action="{{ path('app_cart_update_quantity') }}" method="post">
                                            <input type="hidden" name="stockId" value="{{ details.id }}">
                                            <button type="submit" class="btn btn-sm bg-myPrimary text-white px-1" name="changeQuantity" value="-1" aria-label="Retirer une unité">
                                                <i class="fa-solid fa-minus "></i>
                                            </button>
                                            {{ details.quantite }}
                                            <button type="submit" class="btn btn-sm bg-myPrimary text-white px-1" name="changeQuantity" value="1" aria-label="Ajouter une unité">
                                                <i class="fa-solid fa-plus "></i>
                                            </button>
                                        </form>
                                    </td>
                                    <td class="align-middle text-center">{{ details.montant }} €</td>
                                    <td class="align-middle text-center">
                                        <form action="{{ path('app_cart_remove', {'stockId': details.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce produit du panier ?');">
                                            <button type="submit" class="btn btn-sm btn-danger" aria-label="Supprimer ce produit du panier">
                                                <i class="fa-solid fa-x"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                <h2 id="montantTotal" class="text-center fs-2 fst-italic pb-3">Montant total : {{ montantTotal}} €</h2>
                <div class="d-flex justify-content-between">
                    <a class="btn bg-myPrimary text-white mb-5" href="{{ path('app_cart_checkout') }}">Passer à la commande</a>
                    <form action="{{ path('app_cart_empty') }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir vider le panier ?');">
                        <button type="submit" class="btn btn-danger mb-5">Vider le panier</button>
                    </form>
                </div>
                
                {# <a class="btn bg-myPrimary text-white" href="{{path('app_stripe')}}">Payer</a> #}

                {% endif %}            
            {% else %}
                <h2 class="text-center fs-2 fst-italic">Veuillez-vous connecter</h2>
            {% endif %}

    {% endblock %}</main>
    {% include "_footer.html.twig" %}
{% endblock %}




{# {% block javascript %}

<script>
    // Récupérer tous les boutons avec la classe "update-quantity"
    const updateButtons = document.querySelectorAll('.update-quantity');

    // Parcourir chaque bouton et ajouter un écouteur d'événement pour intercepter les clics
    updateButtons.forEach(button => {
        button.addEventListener('click', async (event) => { // Capturer l'événement clic
            event.preventDefault(); // Empêcher le comportement par défaut du bouton
            const stockId = button.getAttribute('data-stock-id'); // Utilisation de getAttribute pour récupérer les valeurs des attributs data
            const changeQuantity = button.getAttribute('data-change-quantity'); // Utilisation de getAttribute pour récupérer les valeurs des attributs data

            try {
                // Envoyer une requête AJAX à la route app_cart_update_quantity
                const response = await fetch('/cart/update-quantity', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        stockId: stockId,
                        changeQuantity: changeQuantity
                    }),
                });

                if (!response.ok) {
                    throw new Error('Erreur lors de la mise à jour de la quantité.');
                }

                // Mettre à jour la quantité affichée dans la vue
                const responseData = await response.json();
                const quantityElement = button.parentNode.querySelector('.quantity'); // Correction du sélecteur
                quantityElement.textContent = responseData.quantity;

                // Mettre à jour le montant total affiché dans la vue
                const montantTotalElement = document.querySelector('#montantTotal');
                montantTotalElement.textContent = responseData.montantTotal;

            } catch (error) {
                console.error('Une erreur s\'est produite :', error.message);
            }
        });
    });

</script> 

{% endblock %}#}