{% extends 'base.html.twig' %}

{% block title %}<title>Mon panier</title>{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}

    {# Fil d'Ariane #}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item ms-3"><a class="aBreadCrumb" href="{{path('home')}}">Accueil</a></li>
            <li class="breadcrumb-item"><a class="aBreadCrumb" href="{{ path('app_search', {'search[keyword]':'oppenheimer'}) }}">Résultats de la recherche</a></li>
            <li class="breadcrumb-item"><a class="aBreadCrumb" href="{{ app.session.get('previous_url') }}">Dernier film ajouté</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mon panier</li>
        </ol>
    </nav>

    <main class="container">{% block main %}

        <h1>Mon panier</h1>
            {% if app.user %}
            
                {% if cartDetails is empty %}
                    <h2>Votre panier est vide</h2>
                {% else %}
                {% for message in app.flashes("error")%}
                    <div class="text-center alert alert-danger" role="alert">
                        <p class="p-bold">{{message}}</p>
                    </div>
                {% endfor %}      
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Format</th>
                            <th>Prix à l'unité</th>
                            <th>Quantité</th>
                            <th>Montant</th>
                            <th>Retirer le produit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for details in cartDetails %}
                            <tr>
                                <td>{{ details.titre }}</td>
                                <td>{{ details.format }}</td>
                                <td>{{ details.prix }} €</td>
                                <td>
                                    <form action="{{ path('app_cart_update_quantity') }}" method="post">
                                        <input type="hidden" name="stockId" value="{{ details.id }}">
                                        <button type="submit" class="btn btn-sm bg-myPrimary text-white mx-1" name="changeQuantity" value="-1">
                                            <i class="fa-solid fa-minus "></i>
                                        </button>
                                        {# <button class="btn update-quantity" data-stock-id="{{ details.id }}" data-change-quantity="-1">-</button> #}
                                        {{ details.quantite }}
                                        {# <button class="btn update-quantity" data-stock-id="{{ details.id }}" data-change-quantity="1">+</button> #}
                                        <button type="submit" class="btn btn-sm bg-myPrimary text-white mx-1" name="changeQuantity" value="1">
                                            <i class="fa-solid fa-plus "></i>
                                        </button>
                                    </form>
                                </td>
                                <td>{{ details.montant }} €</td>
                                <td>
                                    <form action="{{ path('app_cart_remove', {'stockId': details.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce produit du panier ?');">
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            <i class="fa-solid fa-x"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a class="btn bg-myPrimary text-white" href="{{path('app_stripe')}}">Payer</a>
                <h2 id="montantTotal">Montant total : {{ montantTotal}} €</h2>
                <form action="{{ path('app_cart_empty') }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir vider le panier ?');">
                    <button type="submit" class="btn btn-danger">Vider le panier</button>
                </form>
                {% endif %}            
            {% else %}
                <h2>Veuillez-vous connecter</h2>
            {% endif %}

    {% endblock %}</main>
    {% include "_footer.html.twig" %}
{% endblock %}

{# {% block javascript %}

<script>
    // Récupérer tous les boutons avec la classe "update-quantity"
    const updateButtons = document.querySelectorAll('.update-quantity');

    // Parcourir chaque bouton et ajouter un écouteur d'événement pour intercepter les clics
    updateButtons.forEach(button => {
        button.addEventListener('click', async (event) => { // Capturer l'événement clic
            event.preventDefault(); // Empêcher le comportement par défaut du bouton
            const stockId = button.getAttribute('data-stock-id'); // Utilisation de getAttribute pour récupérer les valeurs des attributs data
            const changeQuantity = button.getAttribute('data-change-quantity'); // Utilisation de getAttribute pour récupérer les valeurs des attributs data

            try {
                // Envoyer une requête AJAX à la route app_cart_update_quantity
                const response = await fetch('/cart/update-quantity', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        stockId: stockId,
                        changeQuantity: changeQuantity
                    }),
                });

                if (!response.ok) {
                    throw new Error('Erreur lors de la mise à jour de la quantité.');
                }

                // Mettre à jour la quantité affichée dans la vue
                const responseData = await response.json();
                const quantityElement = button.parentNode.querySelector('.quantity'); // Correction du sélecteur
                quantityElement.textContent = responseData.quantity;

                // Mettre à jour le montant total affiché dans la vue
                const montantTotalElement = document.querySelector('#montantTotal');
                montantTotalElement.textContent = responseData.montantTotal;

            } catch (error) {
                console.error('Une erreur s\'est produite :', error.message);
            }
        });
    });

</script> 

{% endblock %}#}