{% extends 'base.html.twig' %}

{% block title %}AdrLivraisonCmd index{% endblock %}

{% block body %}
    <h1>AdrLivraisonCmd index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adr_livr_cmd</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adr_livraison_cmd in adr_livraison_cmds %}
            <tr>
                <td>{{ adr_livraison_cmd.id }}</td>
                <td>{{ adr_livraison_cmd.adrLivrCmd }}</td>
                <td>
                    <a href="{{ path('app_adr_livraison_cmd_show', {'id': adr_livraison_cmd.id}) }}">show</a>
                    <a href="{{ path('app_adr_livraison_cmd_edit', {'id': adr_livraison_cmd.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_adr_livraison_cmd_new') }}">Create new</a>
{% endblock %}
