{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {# Message flash indiquant le changement réussi de mot de passe #}
    {% for message in app.flashes("success")%}
        <div class="text-center alert alert-success" role="alert">
            {{message}}
        </div>
    {% endfor %}

{# <div class="d-flex"> #}
    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>

    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus>

    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control mb-1" autocomplete="current-password" required>

    <label class="mb-3">
        <input type="checkbox" name="_remember_me"> Se souvenir de moi
    </label>

    <a class="ms-4 mb-3" href="{{path('app_forgot_password_request')}}">Mot de passe oublié ?</a>

    <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-secondary w-100" type="submit">
        Connexion
    </button>
    {# </div> #}
</form>
{% endblock %}
