{% extends 'base.html.twig' %}

{% block title %}<title>Connexion - Video Retro</title>{% endblock %}

    

{% block body %}<body class="bodyConnexion">

    {% include '_header.html.twig' %}

    <h1 class="h1Connexion">Connexion</h1>

    <main class="container">{% block main %}

        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {# Message flash indiquant le changement réussi de mot de passe #}
            {% for message in app.flashes("success")%}
                <div class="text-center alert alert-success" role="alert">
                    {{message}}
                </div>
            {% endfor %}            

            <label for="inputEmail" class="mb-2">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" autocomplete="email" required autofocus>

            <label for="inputPassword" class="mb-2">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control mb-1" autocomplete="current-password" required>

            <a class="mb-3" href="{{path('app_forgot_password_request')}}">Mot de passe oublié ?</a>

            {# Ajout d'une div pour positionner "Mot de passe oublié" et "Se souvenir de moi" l'un au-dessus de l'autre et pas côte-à-côte. #}
            <div class="mt-3 mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="btn btn-lg bg-myPrimary text-white w-100" type="submit">
                Connexion
            </button>
            {# </div> #}
        </form>

    {% endblock %}</main>

    {% include "_footer.html.twig" %}

</body>{% endblock %}