{% extends 'base.html.twig' %}

{% block title %}<title>{{filmsShow.title}}</title>{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}
    <main class="container">
        <div class="card bg-light shadow movieCard"> {# Ajout d'une seule carte pour englober l'ensemble du contenu #}
            <div class="card-body">
                {% block main %}
                    <div class="row mb-5"> {# Ajout d'une rangée pour diviser l'écran en colonnes #}
                        <div class="col-md-4 col-xs-12"> {# Colonne pour la première partie sur tous les écrans #}
                            <div class="text-center">
                                {% if filmsShow.poster_path is not empty %}
                                    <img class="imgFilm img-fluid mb-3 shadow rounded" src="{{ imageUrl ~ 'w342' ~ filmsShow.poster_path }}" alt="{{ filmsShow.title }} Poster">
                                {% else %}
                                    <img class="shadow rounded" src="{{ asset('images/no_image_available_w342_h513.png') }}" class="img-fluid rounded mb-3" alt="No image available">
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-md-8 col-xs-12"> {# Colonne pour la deuxième partie sur tous les écrans #}
                            <div class="text-center">
                                <h1>{{ filmsShow.title|upper }}</h1>
                                <div class="d-flex justify-content-center">
                                    {% if director is defined %}
                                        {% set directors = [] %}
                                        {% for person in director %}
                                            {% if person.job == 'Director' %}
                                                {% set directors = directors|merge([person.name]) %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if directors %}
                                            {% if directors|length > 1 %}
                                                <p class="p-bold">Réalisation :&nbsp;</p> {{ directors|join(', ') }}
                                            {% else %}
                                                <p class="p-bold">Réalisation :&nbsp;</p>{{ directors[0] }}
                                            {% endif %}
                                        {% else %}
                                            <p class="p-bold">Réalisation :&nbsp;</p>Non renseigné
                                        {% endif %}
                                    {% else %}
                                        <p class="p-bold">Réalisation :&nbsp;</p>Non renseigné
                                    {% endif %}
                                </div>
                                <div class="d-flex justify-content-center">
                                    <p class="p-bold">Durée :&nbsp;</p> {{ filmsShow.runtime }} mn
                                </div>
                                <div class="d-flex justify-content-center">
                                    <p class="p-bold">Année de sortie :&nbsp;</p> {{ filmsShow.release_date|slice(0,4) }}
                                </div>
                                <p class="mb-4 overview">{{ filmsShow.overview }}</p>
                                <p class="p-bold mb-0">Têtes d'affiche</p>
                                <div class="d-flex justify-content-center">
                                    {% for actor in cast|slice(0, 5) %}
                                        {{ actor.name }}{% if not loop.last %},&nbsp;{% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row"> {# Nouvelle rangée pour placer la troisième partie en dessous des deux premières #}
                        <div class="col-12"> {# Colonne prenant toute la largeur sur tous les écrans #}
                            {% if film is not null %}
                                <div class="row logoFormatsContainer mb-3">
                                    {% for stock in film.stocks %}
                                        <div class="col-md-4">
                                            <div class="d-flex flex-column align-items-center justify-content-center"> {# Ajout de classes pour centrer les éléments #}
                                                {% set image = (stock.formats.id == 1) ? 'vhs_logo_w100.png' : (stock.formats.id == 2) ? 'dvd_logo_w100.png' : 'bluray_logo_w100.png' %}
                                                <img class="logoFormats mb-2 shadow rounded" src="{{ asset('images/logosFormats/' ~ image) }}" alt="Logo VHS">
                                                {% if stock.quantiteStock > 0 %}
                                                    <form method="post" action="{{ path("app_cart_new")}}" class="text-center">
                                                        <select name="quantite">
                                                            {% set quantity = stock.quantiteStock > 9 ? 9 : stock.quantiteStock %}
                                                            {% for i in 1 .. quantity %}
                                                                <option value="{{i}}">{{i}}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <input type="hidden" name="stock" value="{{stock.id}}">
                                                        <input type="submit" value="Ajouter au panier" class="btn bg-myPrimary text-white m-1">
                                                        <input type="submit" value="Je vends mon exemplaire" class="btn bg-myPrimary text-white m-1">
                                                    </form>
                                                {% else %}
                                                    <form method="post" action="" class="d-flex flex-column text-center">
                                                        <input type="submit" value="Rupture de stock" class="btn btn-secondary text-white disabled m-1">
                                                        <input type="submit" value="Je vends mon exemplaire" class="btn bg-myPrimary text-white m-1">
                                                    </form>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <form method="post" action="" class="text-center m-4"> {# Ajout de classe pour centrer le formulaire #}
                                    <input type="submit" value="Rupture de stock" class="btn btn-secondary text-white disabled me-2">
                                    <input type="submit" value="Je vends mon exemplaire" class="btn bg-myPrimary text-white ms-2">
                                </form>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row"> {# Nouvelle rangée pour placer la quatrième partie en dessous de la troisième #}
                        <div class="col-12"> {# Colonne prenant toute la largeur sur tous les écrans #}
                            <div class="pt-3 text-center">
                                <p class="p-bold">Regarder ce film sur les plateformes</p>
                                <p class="p-bold">A l'achat</p>
                                {% if buy is defined and buy is not empty %}
                                    <ul class="providers d-flex flex-wrap justify-content-center me-1 ps-0">
                                        {% for provider in buy %}
                                            {% if provider.logo_path is defined %}
                                                <li class="provider ms-1"><img src="{{ imageUrl ~ 'w45' ~ provider.logo_path }}" class="img-fluid rounded mb-1" alt="{{ provider.provider_name }} logo"></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>

                            <div class="text-center">
                                {% if rent is defined and rent is not empty %}
                                    <p class="p-bold">En location</p>
                                    <ul class="providers d-flex flex-wrap justify-content-center me-1 ps-0">
                                        {% for provider in rent %}
                                            {% if provider.logo_path is defined %}
                                                <li class="provider ms-1"><img src="{{ imageUrl ~ 'w45' ~ provider.logo_path }}" class="img-fluid rounded mb-1" alt="{{ provider.provider_name }} logo"></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>

                            <div class="text-center">
                                {% if flatrate is defined and flatrate is not empty %}
                                    <p class="p-bold">En streaming avec abonnement</p>
                                    <ul class="providers d-flex flex-wrap justify-content-center me-1 ps-0">
                                        {% for provider in flatrate %}
                                            {% if provider.logo_path is defined %}
                                                <li class="provider ms-1"><img src="{{ imageUrl ~ 'w45' ~ provider.logo_path }}" class="img-fluid rounded mb-1" alt="{{ provider.provider_name }} logo"></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </main>
    {% include "_footer.html.twig" %}
{% endblock %}
