{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn bg-myPrimary w-100 text-white mb-5">Enregistrer</button>
{{ form_end(form) }}

{# {{ form_errors(form) }}
        {{ form_row(form.nomFormat)}}
        {{ form_row(form.prixRachatDefaut)}}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}
