{% extends 'base.html.twig' %}

{% block title %}<title>Edit formats</title>{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}

    {# Fil d'Ariane #}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item ms-3"><a class="aBreadCrumb" href="{{path('home')}}">Accueil</a></li>
            <li class="breadcrumb-item"><a class="aBreadCrumb" href="{{path('app_admin_home')}}">Back office</a></li>
            <li class="breadcrumb-item"><a class="aBreadCrumb" href="{{path('app_formats_index')}}">Liste des formats</a></li>
            <li class="breadcrumb-item"><a class="aBreadCrumb" href="{{path('app_formats_show', {'id': format.id} )}}">{{format.nomFormat}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Modifier le format {{format.nomFormat}}</li>
        </ol>
    </nav>

    <h1>Edit formats</h1>
    <main class="container">{% block main %}
        <h2>{{format.nomFormat}}</h2>
        {{ form_errors(form) }}
            {{ form_start(form) }}
                {# {{ form_row(form.formats_id, {'disabled': true}) }} #}
                {{ form_row(form.prix_rachat_defaut, {
                    label: 'Prix de rachat'
                }) }}
                {# {{ form_row(form.films_id) }} #}
                <button type="submit" class="btn bg-myPrimary text-white w-100">Save</button>
            {{ form_end(form) }}


        {# {{ include('formats/_form.html.twig', {'button_label': 'Update'}) }} #}

        <a href="{{ path('app_formats_index') }}">back to list</a>

        {{ include('formats/_delete_form.html.twig') }}
    {% endblock %}</main>
    {% include "_footer.html.twig" %}
{% endblock %}
