{% extends 'base.html.twig' %}

{% block title %}<title>Create new format</title>{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}

    {# Fil d'Ariane #}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item ms-3"><a class="aBreadCrumb" href="{{path('home')}}">Accueil</a></li>
            <li class="breadcrumb-item"><a class="aBreadCrumb" href="{{path('app_admin_home')}}">Back office</a></li>
            <li class="breadcrumb-item"><a class="aBreadCrumb" href="{{path('app_formats_index')}}">Liste des formats</a></li>
            <li class="breadcrumb-item active" aria-current="page">Créer un nouveau format</li>
        </ol>
    </nav>


    <h1>Create new format</h1>
    <main class="container">{% block main %}
        {{ include('formats/_form.html.twig') }}

        <a href="{{ path('app_formats_index') }}">back to list</a>
    {% endblock %}</main>
    {% include "_footer.html.twig" %}
{% endblock %}
