{% extends 'base.html.twig' %}

{% block title %}<title>Format - Video Retro</title>{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}

    {# Fil d'Ariane #}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item ms-3"><a class="aBreadCrumb" href="{{path('home')}}">Accueil</a></li>
            <li class="breadcrumb-item"><a class="aBreadCrumb" href="{{path('app_admin_home')}}">Back office</a></li>
            <li class="breadcrumb-item"><a class="aBreadCrumb" href="{{path('app_formats_index')}}">Liste des formats</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{format.nomFormat}}</li>
        </ol>
    </nav>

    <h1>Format</h1>
    <main class="container">{% block main %}
        <h2 class="text-center mb-5">{{format.nomFormat}}</h2>

            <div class="table-responsive">
                <table class="table table-bordered mb-5">
                    <tbody>
                        <tr>
                            <th class="myPrimary bg-light">Id</th>
                            <td class="bg-light">{{ format.id }}</td>
                        </tr>
                        <tr>
                            <th class="myPrimary">Nom du format</th>
                            <td>{{ format.nomFormat }}</td>
                        </tr>
                        <tr>
                            <th class="myPrimary bg-light">Prix de rachat (€)</th>
                            <td class="bg-light">{{ format.prixRachatDefaut }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="d-flex justify-content-between mb-5">
                <a class="btn bg-myPrimary text-white" href="{{ path('app_formats_edit', {'id': format.id}) }}">Modifier</a>
                {{ include('formats/_delete_form.html.twig') }}
            </div>

            <a class="btn bg-secondary text-white mb-5" href="{{ path('app_formats_index') }}">Retour à la liste</a>

    {% endblock %}</main>
    {% include "_footer.html.twig" %}
{% endblock %}
