{% extends 'base.html.twig' %}

{% block title %}<title>Mon profil - Video Retro</title>{% endblock %}


{% block body %}
    {% include '_header.html.twig' %}

    <nav style="--bs-breadcrumb-divider:'>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item ms-3"><a class="aBreadCrumb" href="{{path('home')}}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mon profil</li>
        </ol>
    </nav>

    <h1>Mon profil</h1>

    <main class="container">{% block main %}
        {# Message pour la modification du profil #}
        {% for message in app.flashes("success")%}
            <div class="text-center alert alert-success" role="alert">
                {{message}}
            </div>
        {% endfor %}    

        {# Message pour la modification du mot de passe #}
        {# {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                <p class="p-bold mb-3">{{ message }}</p>
            <div>
        {% endfor %}  #}

        <div class="table-responsive">
            <table class="table table-bordered mb-4">
                <tbody>
                    <tr>
                        <th class="myPrimary">Prénom</th>
                        <td> {{app.user.prenom}} </td>
                    </tr>
                    <tr>
                        <th class="myPrimary">Nom</th>
                        <td> {{app.user.nom}} </td>
                    </tr>
                    <tr>
                        <th class="myPrimary">Email</th>
                        <td> {{app.user.email}} </td>
                    </tr>
                    <tr>
                        <th class="myPrimary">Date de naissance</th>
                        <td>
                        {% if app.user.dateNaiss %}
                            {{app.user.dateNaiss|date('d/m/Y')}}
                        {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="myPrimary">Téléphone</th>
                        <td> {{app.user.telUser}} </td>
                    </tr>
                    {# <tr>
                        <th class="myPrimary">Adresse</th>
                        <td> {{app.user.adrUser}} </td>
                    </tr>
                    <tr>
                        <th class="myPrimary">Complément d'adresse</th>
                        <td> {{app.user.complementAdr}} </td>
                    </tr>
                    <tr>
                        <th class="myPrimary">Code postal</th>
                        <td> {{app.user.codePostal}} </td>
                    </tr>
                    <tr>
                        <th class="myPrimary">Ville</th>
                        <td> {{app.user.ville}} </td>
                    </tr> #}

                </tbody>
            </table>
        </div>

        <div class="mb-5">
            <a class="btn bg-myPrimary text-white m-2" href="{{ path("app_profil_edit")}}">Modifier mes informations</a>
            <a class="btn bg-myPrimary text-white m-2" href="{{ path("app_adr_livraison_user_index")}}">Mes adresses de livraison</a>
            {# <a class="btn bg-myPrimary text-white m-2" href=" {{path('app_adr_facturation_user_show', {'id': app.user.id}) }}">Mon adresse de facturation</a> #}
            <a class="btn bg-myPrimary text-white m-2" href=" {{path('app_adr_facturation_user_edit')}}">Mon adresse de facturation</a>
            <a class="btn bg-myPrimary text-white m-2" href="{{ path("app_profil_edit_password")}}">Modifier mon mot de passe</a>

        </div>

    {% endblock %}</main>
    {% include "_footer.html.twig" %}
{% endblock %}

