{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block h1 %}Mon Profil{% endblock %}

{% block body %}
    <div class="d-flex">
        <p class ="mb-3 p-bold">Nom :&nbsp;</p> {{app.user.nom}} 
    </div>
    <div class="d-flex">
        <p class ="mb-3 p-bold">Prénom :&nbsp;</p> {{app.user.prenom}}
    </div>
    <div class="d-flex">
        <p class ="mb-3 p-bold">Email :&nbsp;</p> {{app.user.email}}
    </div>
    <div class="d-flex">
        <p class ="mb-3 p-bold">Date de naissance :&nbsp;</p> {{app.user.dateNaiss|date('d/m/Y')}}
    </div>
    <div class="d-flex">
        <p class ="mb-3 p-bold">Adresse :&nbsp;</p>{{app.user.adrUser}}
    </div>
    <div class="d-flex">
        <p class ="mb-3 p-bold">Code postal :&nbsp;</p>{{app.user.codePostal}}
    </div>
    <div class="d-flex">
        <p class ="mb-3 p-bold">Ville :&nbsp;</p>{{app.user.ville}}
    </div>
    <div class="d-flex">
        <p class ="mb-3 p-bold">Téléphone:&nbsp;</p>{{app.user.telUser}}
    </div>






    <a class="btn btn-secondary" href="{{ path("app_profil_edit")}}">Modifier mes informations</a>
{% endblock %}

