{% extends 'base.html.twig' %}

{% block title %}<title>Mon profil</title>{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}

    <nav style="--bs-breadcrumb-divider:'>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item ms-3"><a class="aBreadCrumb" href="{{path('home')}}">Accueil</a></li>
            <li class="breadcrumb-item"><a class="aBreadCrumb" href="{{path('app_admin_home')}}">Back office</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mon profil</li>
        </ol>
    </nav>


    <h1>Mon profil</h1>

    <main class="container">{% block main %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                <p class="p-bold mb-3">{{ message }}</p>
            <div>
        {% endfor %}
        <div class="d-flex">
            <p class ="mb-3 p-bold">Nom :&nbsp;</p> {{app.user.nom}} 
        </div>
        <div class="d-flex">
            <p class ="mb-3 p-bold">Prénom :&nbsp;</p> {{app.user.prenom}}
        </div>
        <div class="d-flex">
            <p class ="mb-3 p-bold">Email :&nbsp;</p> {{app.user.email}}
        </div>
        <div class="d-flex">
            <p class ="mb-3 p-bold">Date de naissance :&nbsp;</p> {{app.user.dateNaiss|date('d/m/Y')}}
        </div>
        <div class="d-flex">
            <p class ="mb-3 p-bold">Adresse :&nbsp;</p>{{app.user.adrUser}}
        </div>
        <div class="d-flex">
            <p class ="mb-3 p-bold">Code postal :&nbsp;</p>{{app.user.codePostal}}
        </div>
        <div class="d-flex">
            <p class ="mb-3 p-bold">Ville :&nbsp;</p>{{app.user.ville}}
        </div>
        <div class="d-flex">
            <p class ="mb-3 p-bold">Téléphone:&nbsp;</p>{{app.user.telUser}}
        </div>

        <a class="btn btn-secondary" href="{{ path("app_profil_edit")}}">Modifier mes informations</a>
    {% endblock %}</main>
    {% include "_footer.html.twig" %}
{% endblock %}

