{% extends 'base.html.twig' %}

{% block title %}<title>Back-office - Video Retro</title>{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}

    {# Fil d'Ariane #}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item ms-3"><a class="aBreadCrumb" href="{{path('home')}}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Back office</li>
        </ol>
    </nav>
    
        <h1 class="fs-1 fst-italic">Back-office</h1>
            <main class="container">{% block main %}

                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <ul class="list-group py-4">
                                <li class="list-group-item list-group-item-secondary">
                                    <h2>Mon profil</h2>
                                </li>
                                <li class="list-group-item list-group-item-action  list-group-item-light">
                                    <a class="aBackOff" href="{{ path('app_profil') }}">Voir mes informations</a>
                                </li>
                                <li class="list-group-item list-group-item-action  list-group-item-light">
                                    <a class="aBackOff" href="{{ path('app_profil_edit') }}">Modifier mes informations</a>
                                </li>
                                <li class="list-group-item list-group-item-action  list-group-item-light">
                                    <a class="aBackOff" href="{{ path('app_adr_livraison_user_index') }}">Mes adresses de livraison</a>
                                </li>
                                <li class="list-group-item list-group-item-action  list-group-item-light">
                                    {# <a class="aBackOff" href="{{ path('app_adr_facturation_user_edit', { 'id': app.user.id}) }}">Modifier mon adresse de livraison</a> #}
                                    <a class="aBackOff" href="{{ path('app_adr_facturation_user_index') }}">Modifier mon adresse de livraison</a>
                                </li>
                                <li class="list-group-item list-group-item-action  list-group-item-light">
                                    <a class="aBackOff" href="{{ path('app_profil_edit_password') }}">Modifier mon mot de passe</a>
                                </li>
                                <li class="list-group-item list-group-item-action  list-group-item-light">
                                    <a class="aBackOff text-danger" href="{{ path('app_logout') }}">Déconnexion</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <ul class="list-group py-4">
                                <li class="list-group-item list-group-item-secondary">
                                    <h2>Utilisateurs</h2>
                                </li>
                                <li class="list-group-item list-group-item-action  list-group-item-light">
                                    <a class="aBackOff" href="{{ path('app_user_index') }}">Liste des utilisateurs</a>
                                </li>
                            </ul>
                            <ul class="list-group py-4">
                                <li class="list-group-item list-group-item-secondary">
                                    <h2>Transporteurs</h2>
                                </li>
                                <li class="list-group-item list-group-item-action  list-group-item-light">
                                    <a class="aBackOff" href="{{ path('app_livreur_index') }}">Liste des transporteurs</a>
                                </li>
                                <li class="list-group-item list-group-item-action  list-group-item-light">
                                    <a class="aBackOff" href="{{ path('app_livreur_new') }}">Ajouter un transporteur</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <ul class="list-group py-4">
                                <li class="list-group-item list-group-item-secondary">
                                    <h2>Produits</h2>
                                </li>
                                <li class="list-group-item list-group-item-action  list-group-item-light">
                                    <a class="aBackOff" href="{{ path('app_stock_index') }}">Catalogue</a>
                                </li>
                            </ul>
                        {# </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12"> #}
                            <ul class="list-group py-4">
                                <li class="list-group-item list-group-item-secondary">
                                    <h2>Formats</h2>
                                </li>
                                <li class="list-group-item list-group-item-action  list-group-item-light">
                                    <a class="aBackOff" href="{{ path('app_formats_index') }}">Liste des formats</a>
                                </li>
                                <li class="list-group-item list-group-item-action  list-group-item-light">
                                    <a class="aBackOff" href="{{ path('app_formats_new') }}">Ajouter un format</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>



            {% endblock %}</main>
    {% include "_footer.html.twig" %}
{% endblock %}
