{% extends 'base.html.twig' %}

{% block title %}<title>Page d'accueil</title>{% endblock %}


{% block body %}
    {% include '_header.html.twig' %}

    {# Fil d'Ariane #}
    {# <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item active ms-3" aria-current="page">Accueil</li>
        </ol>
    </nav> #}

    {% for message in app.flashes("success")%}
        <div id="alert" class="text-center alert alert-success w-50 mx-auto" role="alert">
            {{message}}
        </div>
    {% endfor %}

    {# Message d'erreur en cas d'échec de la requête API #}
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <div id="carouselHome" class="carousel slide my-3" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('images/posters_carousel/ET-Extraterrestre_800x300.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/posters_carousel/indianaJones_800x300.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/posters_carousel/leCinquiemeElement_800x300.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/posters_carousel/lesVisiteurs_800x300.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/posters_carousel/terminator_800x300.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/posters_carousel/leRoiLion_800x300.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/posters_carousel/starWars_800x300.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/posters_carousel/leDinerDeCons_800x300.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/posters_carousel/titanic_800x300.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/posters_carousel/pulpFiction_800x300.jpg')}}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev" aria-label="Image précédente">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next" aria-label="Image suivante">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <div class="container-fluid">
        <div class="row">
            <!-- Colonne pour la recherche par année -->
            <div class="col-md-3 col-lg-2 searchBar-container d-flex flex-column align-items-stretch border rounded bg-light shadow mt-5 pt-3">
                <div class="sticky-content">
                    {# Message d'erreur entrée invalide #}
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger text-center">{{ message }}</div>
                    {% endfor %}
                    <p class="text-center myPrimary fst-italic fw-bold">Il y avait quoi au ciné quand vous êtes né ?...</p>
                    {{ render(controller("App\\Controller\\SearchController::getSearchByYear")) }}
                    <p class="text-center myPrimary fst-italic fw-bold pt-3">... ou n'importe quelle autre année !</p>
                </div>
            </div>
            
            <!-- Colonne pour les résultats -->
            <div class="col-md-9 col-lg-10 d-flex flex-column pb">
                <h2 class="text-center pb-3 pt-5">Notre sélection de classiques de l'ère VHS</h2>
                <!-- Div avec la boucle newFilms et bordure -->
                {% if classicFilms is not empty %}
                    <div class="d-flex justify-content-center flex-wrap pb-5">
                        {% for results in classicFilms %}
                            <div class="m-3" style="width: 150px;">
                                <div class="card homeCard">
                                    {% if results.poster_path is not empty %}
                                            <a href="{{ path('app_films_show', {'id': results.id}) }}">
                                            <img src="{{ imageUrl ~ 'w185' ~ results.poster_path }}" class="img-fluid rounded shadow my-3" alt="Affiche du film : {{ results.title }}">
                                            </a>
                                        {% else %}
                                            <a href="{{ path('app_films_show', {'id': results.id}) }}">
                                            <img src="{{asset('images/no_image_available/no_image_available_w185_h278.png')}}" class="img-fluid rounded" alt="Pas d'image disponible">
                                            </a>
                                        {% endif %}
                                    <div class="card-body cardHome text-center p-0">
                                        <p class="card-title fw-bold text-secondary">{{ results.title }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>Aucun film trouvé.</p>
                {% endif %}
                <h2 class="text-center pb-3">Les films populaires en ce moment</h2>
                {% if popularFilms is not empty %}
                <!-- Div avec la boucle popularFilms et bordure -->
                    <div class="d-flex justify-content-center flex-wrap">
                        {% for results in popularFilms %}
                            <div class="m-3" style="width: 150px;">
                                <div class="card homeCard">
                                    {% if results.poster_path is not empty %}
                                            <a href="{{ path('app_films_show', {'id': results.id}) }}">
                                            <img src="{{ imageUrl ~ 'w185' ~ results.poster_path }}" class="img-fluid rounded shadow my-3" alt="Affiche du film : {{ results.title }}">
                                            </a>
                                        {% else %}
                                            <a href="{{ path('app_films_show', {'id': results.id}) }}">
                                            <img src="{{asset('images/no_image_available/no_image_available_w185_h278.png')}}" class="img-fluid rounded" alt="Pas d'image disponible">
                                            </a>
                                        {% endif %}
                                    <div class="card-body cardHome text-center p-0">
                                        <p class="card-title fw-bold text-secondary">{{ results.title }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>Aucun film trouvé.</p>
                {% endif %}
            </div>
        </div>
    </div>

    {% include "_footer.html.twig" %}
{% endblock %}
