{% extends 'base.html.twig' %}

{% block title %}<title>Page d'accueil</title>{% endblock %}


{% block body %}
    {% include '_header.html.twig' %}

    {# Fil d'Ariane #}
    {# <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item active ms-3" aria-current="page">Accueil</li>
        </ol>
    </nav> #}

    {% for message in app.flashes("success")%}
        <div id="alert" class="text-center alert alert-success w-50 mx-auto" role="alert">
            {{message}}
        </div>
    {% endfor %}

    <div id="carouselHome" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('images/posters_carousel/ET-Extraterrestre_800x300.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/posters_carousel/indianaJones_800x300.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/posters_carousel/leCinquiemeElement_800x300.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/posters_carousel/lesVisiteurs_800x300.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/posters_carousel/terminator_800x300.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/posters_carousel/leRoiLion_800x300.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/posters_carousel/starWars_800x300.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/posters_carousel/leDinerDeCons_800x300.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/posters_carousel/titanic_800x300.jpg')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('images/posters_carousel/pulpFiction_800x300.jpg')}}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="searchBar-container d-flex justify-content-center align-items-center w-100">
    {# On rend la méthode GetSearchBar du controller SearchController. Les :: permettent d'appeler getSearchBar de manière statique. Les \\ sont une convention, cela ne fonctionne pas avec un seul \ #}
    {{ render(controller("App\\Controller\\SearchController::getSearchByYear")) }}  
    </div>    



        {# Si un utlisateur est connecté, le message de bienvenue s'affiche
        {% if app.user %}
            <h1>
                Bienvenue {{ app.user.prenom}} {{ app.user.nom}} !
            </h1>
        {% endif %}
        <img class="homephoto" src="{{ asset('images/mosaique.jpg')}}" alt="mosaïque d'affiches de films"> #}
    {% include "_footer.html.twig" %}
{% endblock %}
