{% extends 'base.html.twig' %}

{% block title %}<title>Formulaire de paiement</title>{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}
    <main class="container">{% block main %}
        <h1>Formulaire de paiement</h1>

            <div class="d-flex justify-content-center mb-5">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item"><a class="aBreadCrumb aCart" href="{{path('app_cart')}}">Panier</a></li>
                    <li class="list-group-item"><a class="aBreadCrumb aCart" href="{{path('app_cart_checkout')}}">Commande</a></li>
                    <li class="list-group-item list-group-item-secondary">Paiement</li>
                </ul>
            </div>


            <form class="d-flex justify-content-center" action="{{path('process_payment')}}" method="post">
                <script
                    src="https://checkout.stripe.com/checkout.js"
                    class="stripe-button"
                    data-key="{{stripe_public_key}}"
                    data-amount="{{montant}}"
                    data-name="Video Retro"
                    data-description="site de vente de VHS, DVD et Blu-Ray"
                    data-currency="eur"
                    data-locale="auto"
                >
                
                </script>
            </form>

    {% endblock %}</main>
    {% include "_footer.html.twig" %}
{% endblock %}
