<footer class="footer bg-secondary bg-gradient mt-3">
    <div class="container">
        <div class="row pb-2">
            {# Section contact #}
            <section class="col-md-6">
                <p class="text-white fw-bold fs-20">Contact</p>
                <p class="text-white mb-1"><i class="fas fa-square-envelope me-1"></i><a class = "links" href="mailto:contact@videoretro.fr">contact@videoretro.fr</a></p>
                <p class="text-white mb-1"><i class="fas fa-square-phone me-1"></i>+336 89 72 94 54</p>
                <p class="text-white mb-1"><i class="fa-solid fa-location-dot me-1"></i>9 rue de La Rochette - 77000 Melun - FRANCE</p>
            </section>

            {# Section mentions légales #}
            <section class="col-md-6">
                {# offset permet de décaler le contenu (ici vers la droite) #}
                <div class="offset-md-6">
                    <p class="text-white fw-bold fs-20">A propos</p>
                    <p class="text-white mb-1"><i class="fa-solid fa-circle-info me-1"></i><a href="{{ path('app_legal') }}" class="aFooter">Mentions légales</a></p>
                    <p href="{{ path('app_cgv') }}" class="text-white mb-1"><i class="fa-solid fa-circle-info me-1"></i><a href="{{ path('app_cgu') }}" class="aFooter">Conditions générales d'utilisation</a></p>
                    <p href="{{ path('app_cgu') }}"class="text-white mb-1"><i class="fa-solid fa-circle-info me-1"></i><a href="{{ path('app_cgv') }}" class="aFooter">Conditions générales de vente</a></p>
                </div>
            </section>
        </div>
    </div>

    {# Section copyright #}
    <section class="bg-myPrimary bg-gradient">
        <p class="text-white pb-1 mb-0 text-center"><i class="fa-regular fa-copyright"></i> 2024 Copyright - Jocelyn Dufour</p>
    </section>
</footer>
