<header>
    {# Navbar 1 pour contenir le logo, les onglets Accueil, Inscription, Connexion, Déconnexion et produits qui sera à rajouter. #}
    <nav class="navbar navbar-expand-md bg-secondary bg-gradient navbar-dark">
        <div class="container-fluid">
            <a href="{{ path('home')}}"><img class="imgLogo pe-3" src="{{asset('images/cassette.svg')}}" alt="Logo Video Retro : lien vers l'accueil" /></a>
            <a class="font-lazer navbar-brand text-white" href="{{ path('home')}}">Video Retro</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Bouton de navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.get('_route') == 'home' ? 'active' : '' }} text-end" aria-current="page" href="{{ path('home')}}">Accueil</a>
                    </li>
                    {% if app.user %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link {{ app.request.get('_route') == 'app_admin_home' ? 'active' : '' }} text-end" href="{{path('app_admin_home')}}">Back office</a>
                            </li>
                        {% endif %}

                        {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link {{ app.request.get('_route') == 'app_profil' ? 'active' : '' }} text-end" href="{{path('app_profil')}}">Mon compte</a>
                            </li>
                        {% endif %}
                        
                        <li class="nav-item">
                            <a class="nav-link text-end" href="{{path('app_logout')}}">Déconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link {{ app.request.get('_route') == 'app_register' ? 'active' : '' }} text-end" href="{{path('app_register')}}">Inscription</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ app.request.get('_route') == 'app_login' ? 'active' : '' }} text-end" href="{{path('app_login')}}">Connexion</a>
                        </li>
                    {% endif %}
                    
                </ul>
            </div>                    
        </div>
    </nav>

    {# NAVBAR 2 pour contenir la baseline et la barre de recherche. Une balise div a été préférée à une balise nav dans un souci d'amélioration du référencement : une seule balise nav #}
    <div class="d-flex justify-content-between align-items-center bg-myPrimary bg-gradient p-2 ps-3 pe-3 mb-3">
        <p class="slogan slogan-sm slogan text-light ps-5 align-self-items-center">Tout le cinéma en VHS, DVD et Blu-Ray</p> 
        <div class="searchBar-container d-flex justify-content-center align-items-center">
            {# On rend la méthode GetSearchBar du controller SearchController. Les :: permettent d'appeler getSearchBar de manière statique. Les \\ sont une convention, cela ne fonctionne pas avec un seul \ #}
            {{ render(controller("App\\Controller\\SearchController::getSearchBar")) }}      
            <a href="{{ path('app_cart') }}" class="text-decoration-none text-white" aria-label="Bouton d'accès à mon panier">
                <div class="d-flex align-items-center">
                    <span class="ps-4"><i class="fa-solid fa-cart-shopping text-white" data-toggle="tooltip" title="Accéder à mon panier"></i></span>
                    {% if app.user %}
                        {% set cartQuantity = app.session.get('cart', {}) | length %}
                        {% if cartQuantity >= 0 %}
                            <span class="ps-2">{{ cartQuantity }}</span>
                        {% endif %}    
                    {% endif %}
                </div>
            </a>
        </div>
    </div>
</header>

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}