<html>
    <head>
        
        <style>
            h1{
                color: #6c757d;
            }
            h2{
                color: #0B759B;
            }
        </style>
    </head>
    <body>
        <h1>Facture de votre commande sur Video Retro</h1>
        <p>Référence : {{ commande.reference }}</p>
        <p>Date de la commande : {{ commande.createdAt|date('d/m/Y H:i:s') }}</p>

        <h2>Informations de facturation</h2>
        <p>Nom : {{ commande.adrFacturationCmd.nom }}</p>
        <p>Prénom : {{ commande.adrFacturationCmd.prenom }}</p>
        <p>Adresse : {{ commande.adrFacturationCmd.adrFactCmd }}</p>
        <p>Complément d'adresse : {{ commande.adrFacturationCmd.complementAdr }}</p>
        <p>Code postal : {{ commande.adrFacturationCmd.codePostal }}</p>
        <p>Ville : {{ commande.adrFacturationCmd.ville }}</p>


        <h2>Ma commande</h2>
        <table>
            <thead>
                <tr>
                    {# <th>Produit</th> #}
                    <th>Prix unitaire</th>
                    <th>Quantité</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for detailCommande in detailsCommandes %}
                <tr>
                    {# <td>{{ detailCommande.stock.titre }}</td> #}
                    <td>{{ detailCommande.prixUnitaire }}</td>
                    <td>{{ detailCommande.quantiteCmd }}</td>
                    <td>{{ detailCommande.prixUnitaire * detailCommande.quantiteCmd }} €</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Montant total de la commande : {{ montantTotalCommande / 100 }}</h3>

        <h2>Informations de livraison</h2>
        <p>Nom : {{ commande.adrLivraisonCmd.nom }}</p>
        <p>Prénom : {{ commande.adrLivraisonCmd.prenom }}</p>
        <p>Adresse : {{ commande.adrLivraisonCmd.adrLivrCmd }}</p>
        <p>Complément d'adresse : {{ commande.adrLivraisonCmd.complementAdr }}</p>
        <p>Code postal : {{ commande.adrLivraisonCmd.codePostal }}</p>
        <p>Ville : {{ commande.adrLivraisonCmd.ville }}</p>
    </body>
</html>
