{% extends 'base.html.twig' %}
{% block title %}<title>Stock index</title>{% endblock %}
{% block body %}
    {% include '_header.html.twig' %}
    <main class="container">{% block main %}
    <h1>Stock index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id Produit</th>
                    <th>Format</th>
                    <th>Prix de revente</th>
                    <th>Quantite en stock</th>
                    <th>Film API Id</th>
                    <th>Titre</th>
                </tr>
            </thead>
            <tbody>
            {% for stock in pagination %}
                <tr>
                    <td>{{ stock.id }}</td>
                    <td>{{ stock.formats.nomFormat }}</td>
                    <td>{{ stock.prixReventeDefaut }}</td>
                    <td>{{ stock.quantiteStock }}</td>
                    <td>{{ stock.films.filmsApiId }}</td>
                    <td>{{ stock.titre }}</td>
                    <td>
                    <a href="{{ path('app_stock_show', {'id': stock.id}) }}">show</a>
                    <a href="{{ path('app_stock_edit', {'id': stock.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
            <tr>
                <td colspan="6">Pas de produits</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation"> {# zone de navigation dans la pagination #}
        {{ knp_pagination_render(pagination) }}
        </div>
        <a href="{{ path('app_stock_new') }}">Create new</a>
    {% endblock %}</main>
{% include "_footer.html.twig" %}
{% endblock %}


{# VERSION DU CODE SANS LA PAGINATION (Modifs à partir de la boucle#}

            {# {% for stock in stocks %}
                <tr>
                    <td>{{ stock.id }}</td>
                    <td>{{ stock.formatsId }}</td>
                    <td>{{ stock.prixReventeDefaut }}</td>
                    <td>{{ stock.quantiteStock }}</td>
                    <td>{{ stock.films.filmsApiId }}</td>
                    <td>{{ filmTitles[stock.id] }}</td> Utilisation de la requête getFilmsDetails pour récupérer le titre du film 
                    <td>
                        <a href="{{ path('app_stock_show', {'id': stock.id}) }}">show</a>
                        <a href="{{ path('app_stock_edit', {'id': stock.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_stock_new') }}">Create new</a>
    {% endblock %}</main>
    {% include "_footer.html.twig" %}
{% endblock %} #}
