{% extends 'base.html.twig' %}

{% block title %}<title>Create new stock</title>{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}

    {# Fil d'Ariane #}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item ms-3"><a class="aBreadCrumb" href="{{path('home')}}">Accueil</a></li>
            <li class="breadcrumb-item"><a class="aBreadCrumb" href="{{path('app_admin_home')}}">Back office</a></li>
            <li class="breadcrumb-item"><a class="aBreadCrumb" href="{{path('app_stock_index')}}">Liste des produits</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ajouter un film</li>
        </ol>
    </nav>


    <h1>Create new stock</h1>
    <main class="container">{% block main %}

        {{ include('stock/_form.html.twig') }}

        <a href="{{ path('app_stock_index') }}">back to list</a>
    {% endblock %}</main>
    {% include "_footer.html.twig" %}
{% endblock %}
