{% extends 'base.html.twig' %}

{% block title %}<title>Ajouter un utilisateur</title>{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}

    {# Fil d'Ariane #}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item ms-3"><a class="aBreadCrumb" href="{{path('home')}}">Accueil</a></li>
            <li class="breadcrumb-item"><a class="aBreadCrumb" href="{{path('app_admin_home')}}">Back office</a></li>
            <li class="breadcrumb-item"><a class="aBreadCrumb" href="{{path('app_user_index')}}">Liste des utilisateurs</a></li>
            <li class="breadcrumb-item active" aria-current="page">Créer un nouvel utilisateur</li>
        </ol>
    </nav>


    <h1>Ajouter un utilisateur</h1>
    <main class="container">{% block main %}

        {{ form_errors(form) }}
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_row(form.email,{'label_attr': {'class': 'mb-2'}})}}
                {# {{ form_row(form.plainPassword,{'label_attr': {'class': 'mb-3'}})}} #}
                {{ form_row(form.nom) }}
                {{ form_row(form.prenom,{
                    label: 'Prénom'
                }) }}
                {{ form_row(form.date_naiss, {
                    label: 'Date de naissance'
                }) }} 
                {{ form_row(form.adr_user, {
                    label: 'Adresse'
                }) }}

                {{ form_row(form.complement_adr, {
                    label: 'Complément d\'adresse'
                }) }}

                {{ form_row(form.code_postal, {
                    label: 'Code postal'
                }) }}

                {{ form_row(form.ville, {
                    label: 'Ville'
                }) }}

                {{ form_row(form.tel_user, {
                    label: 'Numéro de téléphone'
                }) }}
                {{ form_row(form.roles, {
                    label: 'Rôles'
                }) }}
                <button type="submit" class="btn bg-myPrimary w-100 text-white">Ajouter un membre</button>
                <a href="{{ path('app_user_index') }}" >Retour à la liste</a>

            {{ form_end(form) }}

    {% endblock %}</main>
    

    {% include "_footer.html.twig" %}
{% endblock %}
