{% extends 'base.html.twig' %}

{% block title %}<title>User</title>{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}

    {# Fil d'Ariane #}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item ms-3"><a class="aBreadCrumb" href="{{path('home')}}">Accueil</a></li>
            <li class="breadcrumb-item"><a class="aBreadCrumb" href="{{path('app_admin_home')}}">Back office</a></li>
            <li class="breadcrumb-item"><a class="aBreadCrumb" href="{{path('app_user_index')}}">Liste des utilisateurs</a></li>
            <li class="breadcrumb-item active" aria-current="page">Profil de {{ user.prenom }} {{ user.nom|upper }}</li>
        </ol>
    </nav>


    <h1>User</h1>
    <main class="container">{% block main %}

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ user.nom }}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{ user.prenom }}</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                </tr>
                {# <tr>
                    <th>Password</th>
                    <td>{{ user.password }}</td>
                </tr> #}
            </tbody>
        </table>

        <a href="{{ path('app_user_index') }}">back to list</a>

        <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

        {{ include('user/_delete_form.html.twig') }}
    {% endblock %}</main>
    {% include "_footer.html.twig" %}
{% endblock %}
