{% extends 'base.html.twig' %}

{% block title %}AdrLivraisonUser index{% endblock %}

{% block body %}
    <h1>AdrLivraisonUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adr_livr_user</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adr_livraison_user in adr_livraison_users %}
            <tr>
                <td>{{ adr_livraison_user.id }}</td>
                <td>{{ adr_livraison_user.adrLivrUser }}</td>
                <td>
                    <a href="{{ path('app_adr_livraison_user_show', {'id': adr_livraison_user.id}) }}">show</a>
                    <a href="{{ path('app_adr_livraison_user_edit', {'id': adr_livraison_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_adr_livraison_user_new') }}">Create new</a>
{% endblock %}
