{% extends 'base.html.twig' %}

{% block title %}<title>Ajouter une adresse de livraison - Video Retro</title>{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}

    {# Fil d'Ariane #}
    <nav style="--bs-breadcrumb-divider:'>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item ms-3"><a class="aBreadCrumb" href="{{path('home')}}">Accueil</a></li>
            <li class="breadcrumb-item"><a class="aBreadCrumb" href=" {{path('app_profil')}}">Mon profil</a></li>
            <li class="breadcrumb-item"><a class="aBreadCrumb" href=" {{path('app_adr_livraison_user_index')}}">Mes adresses de livraison</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ajouter une adresse de livraison</li>
        </ol>
    </nav>

    <h1>Ajouter une adresse de livraison</h1>

    <main class="container">{% block main %}

    {{ include('adr_livraison_user/_form.html.twig') }}

    <a class="btn bg-secondary text-white mb-5" href="{{ path('app_adr_livraison_user_index') }}">Retour à la liste</a>
    
    {% endblock %}</main>
    {% include "_footer.html.twig" %}
{% endblock %}
